/* .content{
    background-color: #f4f3ef;
} */

.main-panel, .sidebar{
    background-color: white;
}

/* @media screen and (max-width: 991px){
.sidebar, .bootstrap-navbar {
    width: 220px !important;
}

.main-panel {
    position: relative;
    float: right;
     width: calc(100% - 220px);
    
}
} */

.sidebar, .sidebar .sidebar-wrapper{
    /* width: 220px !important; */
}

