<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <h3 class="mb-2 mt-2">List of Users</h3>
            </div>
            <div class="col-lg-2 mb-3 mt-2">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addUserModal"
                (click)="showaddUserModal()">Add User</button>
            </div>
            
         </div>
         <div class="row table-card mb-3" *ngIf="userList.length != 0">
            <table class="table prduct-table">
                <thead class="thead-secondary">
                  <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Address</th> 
                    <th scope="col">Details</th>
                  </tr>
                </thead>
             
                <tbody *ngFor="let item of userList| paginate: { itemsPerPage: pageSize, currentPage: page } ; let i = index ">
                  <tr>
                    <td>{{pageSize*(page-1)+i+1}}</td>
                    <td>{{item.usersInfo.fullName}}</td> 
                    <td>{{item.usersInfo.email}}</td>
                    <td>{{item.usersInfo.mobileNo}}</td>
                    <td>{{item.usersInfo.address}}</td>
                    <td (click)="showUserModal(item)" data-toggle="modal" data-target="#showUserModal">
                        <svg enable-background="new 0 0 48 48" height="32px" id="Layer_1" version="1.1" viewBox="0 0 48 48"  width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path clip-rule="evenodd"
                            d="M37,47H11c-2.209,0-4-1.791-4-4V5c0-2.209,1.791-4,4-4h18.973  c0.002,0,0.005,0,0.007,0h0.02H30c0.32,0,0.593,0.161,0.776,0.395l9.829,9.829C40.84,11.407,41,11.68,41,12l0,0v0.021  c0,0.002,0,0.003,0,0.005V43C41,45.209,39.209,47,37,47z M31,4.381V11h6.619L31,4.381z M39,13h-9c-0.553,0-1-0.448-1-1V3H11  C9.896,3,9,3.896,9,5v38c0,1.104,0.896,2,2,2h26c1.104,0,2-0.896,2-2V13z M33,39H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18  c0.553,0,1,0.448,1,1C34,38.553,33.553,39,33,39z M33,31H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18c0.553,0,1,0.448,1,1  C34,30.553,33.553,31,33,31z M33,23H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18c0.553,0,1,0.448,1,1C34,22.553,33.553,23,33,23  z"
                            fill-rule="evenodd" />
                        </svg>
                    </td>     
                    <!-- <td  (click)="showdeleteUserModal(item)" data-toggle="modal"  data-target="#deleteUserModal">
                        <svg enable-background="new 0 0 19 19" height="19px" id="Layer_1" version="1.1" viewBox="0 0 26 29" width="26px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g><path d="M1.035,9l3.49,17.478C4.525,27.854,5.643,29,7.019,29H13h5.981c1.376,0,2.493-1.146,2.493-2.522L24.965,9   H13H1.035z" fill="#231F20"/>
                            <path d="M23.524,3H21V2.824C21,1.264,19.736,0,18.176,0H7.824C6.264,0,5,1.264,5,2.824V3H2.476   C0.946,3,0,3.939,0,5.468V7h7.824h10.352H26V5.468C26,3.939,25.053,3,23.524,3z" fill="#231F20"/>
                        </g></svg>
                    </td>  -->
                  </tr>        
                </tbody>
                
            </table>
            <div class="col-lg-12 d-flex justify-content-end pagination-custom pt-2">
                <pagination-controls previousLabel="Prev"nextLabel="Next" [responsive]="true"></pagination-controls>
            </div>
          
            
            <!--Including the pagination control.-->
                <!-- <div class="d-flex justify-content-end">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls>
                </div> -->
         </div>

         <div class="row card mb-3" *ngIf="userList.length == 0">
            <p class="text-center">No User found</p>
          </div>
        
    </div>
</div>


<!-- add User modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{addUserTitle}}</h5>       
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeaddUserBtn>
            <span aria-hidden="true">&times;</span>
          </button>    
        </div>
        <div class="modal-body">
            <div class="tab-slider--nav">
                <ul class="tab-slider--tabs">
                  <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1';addProdTab()">Add User</li>
                  <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2';uploadProdImages()">Upload User Documents</li>
                  <li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3';uploadKycDocument()">Upload KYC Documents</li>
                </ul>
            </div>
            <div class="tab-slider--container" [ngSwitch]="viewMode">
                <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
                    <form [formGroup]="addUserForm" (ngSubmit)="submitNewUser()">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="form-control-label">Name</label>
                                <input type="text" class="form-control" formControlName="fullName" name="fullName"  
                                [ngClass]="{'is-invalid':(submitted && f['fullName'].errors) ||(f['fullName'].errors && f['fullName'].touched) }">
                                    <div *ngIf="(submitted && f['fullName'].errors) ||(f['fullName'].errors && f['fullName'].touched)" class="invalid-feedback">
                                        <div *ngIf="f['fullName'].errors['required']">
                                            Name is required
                                        </div>
                                 </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-control-label">Email</label>
                                <input type="text" class="form-control" formControlName="email" name="email"  
                                [ngClass]="{'is-invalid':(submitted && f['email'].errors) ||(f['email'].errors && f['email'].touched) }">
                                    <div *ngIf="(submitted && f['email'].errors) ||(f['email'].errors && f['email'].touched)" class="invalid-feedback">
                                        <div *ngIf="f['email'].errors['required']">
                                            Email is required
                                        </div>
                                 </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="form-control-label">Contact</label>
                                <input type="text" class="form-control" formControlName="mobileNo" name="mobileNo"  
                                [ngClass]="{'is-invalid':(submitted && f['mobileNo'].errors) ||(f['mobileNo'].errors && f['mobileNo'].touched) }">
                                    <div *ngIf="(submitted && f['mobileNo'].errors) ||(f['mobileNo'].errors && f['mobileNo'].touched)" class="invalid-feedback">
                                        <div *ngIf="f['mobileNo'].errors['required']">
                                            Contact is required
                                        </div>
                                 </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-control-label">City</label>
                                <select class="custom-select"  formControlName="cityId" name="cityId" id="cityId"
                                [ngClass]="{'is-invalid':(submitted && g['cityId'].errors) ||(g['cityId'].errors && g['cityId'].touched) }">
                                <option value="" [selected]="''">Choose..</option>
                                    <option *ngFor="let item of cityList" [ngValue]="item.cityId">
                                        {{item.cityName }}</option>
                                </select>
                                    <div *ngIf="(submitted && f['cityId'].errors) ||(f['cityId'].errors && f['cityId'].touched)" class="invalid-feedback">
                                        <div *ngIf="f['cityId'].errors['required']">
                                            City is required
                                        </div>
                                 </div>
                            </div>
                            

                        </div>

                        
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="form-control-label">User Name</label>
                                <input type="text" class="form-control" formControlName="username" name="username"  
                                [ngClass]="{'is-invalid':(submitted && f['username'].errors) ||(f['username'].errors && f['username'].touched) }">
                                <div *ngIf="(submitted && f['username'].errors) ||(f['username'].errors && f['username'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['username'].errors['required']">
                                            Sales Tax Group is required
                                    </div>
                                 </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-control-label">Date of Birth</label>
                                <input type="date" (change)="changeDateOfBirth($event)" class="form-control" formControlName="dateOfBirth" name="dateOfBirth"  
                                [ngClass]="{'is-invalid':(submitted && f['dateOfBirth'].errors) ||(f['dateOfBirth'].errors && f['dateOfBirth'].touched) }">
                                    <div *ngIf="(submitted && f['dateOfBirth'].errors) ||(f['dateOfBirth'].errors && f['dateOfBirth'].touched)" class="invalid-feedback">
                                        <div *ngIf="f['dateOfBirth'].errors['required']">
                                            Date of Birth is required
                                        </div>
                                 </div>
                                        

                            </div>
                            
                        </div>

                        <div class="row">
                            
                            <div class="form-group col-lg-6">
                                <label class="form-control-label">Address</label>
                                <textarea formControlName="address" name="address"  class="form-control"  id="address" cols="30" rows="10"
                                [ngClass]="{'is-invalid':(submitted && f['address'].errors) ||(f['address'].errors && f['address'].touched) }"
                                ></textarea>
                                <div *ngIf="(submitted && f['address'].errors) ||(f['address'].errors && f['address'].touched)" class="invalid-feedback">
                                        <div *ngIf="f['address'].errors['required']">
                                            Address is required
                                        </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="form-control-label">Family Details</label>
                                <textarea formControlName="familyDetails" name="familyDetails"  class="form-control"  id="familyDetails" cols="30" rows="10"
                                [ngClass]="{'is-invalid':(submitted && f['familyDetails'].errors) ||(f['familyDetails'].errors && f['familyDetails'].touched) }"
                                ></textarea>
                                <div *ngIf="(submitted && f['familyDetails'].errors) ||(f['familyDetails'].errors && f['familyDetails'].touched)" class="invalid-feedback">
                                        <div *ngIf="f['familyDetails'].errors['required']">
                                            Family Details is required
                                        </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="form-control-label">Status</label><br/>
                                <div class="form-check form-check-inline">
                                <label class="form-check-label p-0" for="active">
                                <input class="form-check-input" type="radio" formControlName="isActive" name="isActive" id="status" value="true"
                                [ngClass]="{'is-invalid':(submitted && f['isActive'].errors) ||(f['isActive'].errors && f['isActive'].touched) }">Active
                                </label>
                                </div>
                                <div class="form-check form-check-inline">
                                <label class="form-check-label p-0" for="inactive">
                                <input class="form-check-input" type="radio" formControlName="isActive" name="isActive" id="status" value="false"
                                [ngClass]="{'is-invalid':(submitted && f['isActive'].errors) ||(f['isActive'].errors && f['isActive'].touched) }">Inactive
                                </label>
                                </div>
                                <div *ngIf="(submitted && f['isActive'].errors) ||(f['isActive'].errors && f['isActive'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['isActive'].errors['required']">Status is required</div> 
                                </div>
                            </div>
                        </div>
                        
        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                          </div>
                    </form>
                </div>
                <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
                    <form>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Aadhaar Front</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="aadhaarFrontDocument" 
                                    (change)="uploadAadhaarFrontDocument($event)">
                                    <label class="custom-file-label" for="file">{{aadhaarFrontDocumentName}}</label>    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button" (click)="submitAFDocument()">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Aadhaar Back</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="aadhaarBackDocument" 
                                    (change)="uploadAadhaarBackDocument($event)">
                                    <label class="custom-file-label" for="customFile">{{aadhaarBackDocumentName}}</label>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button"  (click)="submitABDocument()">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Photo</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="photoDocument" 
                                    (change)="uploadPhotoDocument($event)"
                                    >
                                    <label class="custom-file-label" for="customFile">{{photoDocumentName}}</label>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button" (click)="submitPhoto()">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Address </label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="addressDocument" 
                                    (change)="uploadAddressDocument($event)">
                                    <label class="custom-file-label" for="customFile">{{addressDocumentName}}</label>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button" (click)="submitAddress()">Upload</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">VoterId/Pancard</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="addressDocument" 
                                    (change)="uploadVoterDocument($event)">
                                    <label class="custom-file-label" for="customFile">{{voterDocumentName}}</label>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button" (click)="submitVoterDoc()">Upload</button>
                            </div>
                        </div>

                        <div class="row">
                            <small class="col-lg-12" style="color: red; font-weight: bold">Please upload one document at a time</small>
                        </div>
        
                    </form>
                </div>
                <div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
                    <form>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Family Photo</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="familyPhoto" 
                                    (change)="uploadFamilyPhotoDoc($event)">
                                    <label class="custom-file-label" for="file">{{familyPhotoName}}</label>    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button" (click)="submitFamilyPhoto()">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Driving License</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="drivingLicense" 
                                    (change)="uploadDrivingLicenseDoc($event)">
                                    <label class="custom-file-label" for="customFile">{{drivingLicenseName}}</label>                
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button" (click)="submitDrivingLicense()">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Joining Letter</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="joiningLetter" 
                                    (change)="uploadJoiningLetterDoc($event)"
                                    >
                                    <label class="custom-file-label" for="customFile">{{joiningLetterName}}</label>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button" (click)="submitJoiningLetter()">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Bank Passbook</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="bankPassbook" 
                                    (change)="uploadBankPassbookDoc($event)">
                                    <label class="custom-file-label" for="customFile">{{bankPassbookName}}</label>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button" (click)="submitBankPassbook()">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Education Document</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="educationDocument" 
                                    (change)="uploadEducationDoc($event)">
                                    <label class="custom-file-label" for="customFile">{{educationDocName}}</label>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md"type="button" (click)="submitEducationDoc()">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Releaving Letter</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="releavingLetter" 
                                    (change)="uploadReleavingLetter($event)">
                                    <label class="custom-file-label" for="customFile">{{releavingLetterName}}</label>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button" (click)="submitReleavingLetter()">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="form-control-label">Previous Salary Slips</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="previousSalarySlips" 
                                    (change)="uploadpreviousSalarySlips($event)">
                                    <label class="custom-file-label" for="customFile">{{previousSalarySlipsName}}</label>
                                    
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mt-3">
                                <button class="btn btn-primary btn-md" type="button" (click)="submitpreviousSalarySlips()">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <small class="col-lg-12" style="color: red; font-weight: bold">Please upload one document at a time</small>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

<!-- show User modal -->
 <div class="modal fade" id="showUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">   
          <h5 class="modal-title" id="exampleModalLabel">User Details</h5>    
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeeditUserBtn>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <table class="table prduct-table">
                <thead class="thead-secondary">
                  <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Family</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th> 
                   
                  </tr>
                </thead>
             
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>{{userDetailsObj.fullName}}</td> 
                    <td>{{userDetailsObj.email}}</td>
                    <td>{{userDetailsObj.mobileNo}}</td>
                    <td>{{userDetailsObj.dateOfBirth | date : "dd-mm-yyyy"}}</td>
                    <td>{{userDetailsObj.familyDetails}}</td>
                    <td>{{userDetailsObj.address}}</td>
                    <td>{{userDetailsObj.cityName}}</td>
                    
                  </tr>        
                </tbody>
                
            </table>
            <div *ngFor="let userDoc of userDocuments">
                <hr/>
                <h6> {{userDoc.documentName}}</h6>
                <img [src]="userDoc.url" [alt]="userDoc.documentName">
            </div>
        </div> 
      </div>
    </div>
</div>


<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
         
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeDeleteUserBtn>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
             <p>Are you sure you want to delete this User?</p>
             <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="deleteUser()">Yes</button>
              </div>
        </div>
      </div>
    </div>
</div>






