
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">
            <div class="card">
              <div class="card-header">
                
                <div class="col-12 mb-3 mt-2">
                    <h3 class="card-title">List of Product Prices</h3>
                </div>
              </div>

              <div class="card-header">
                
                <div class="col-lg-12  mb-3 mt-2">
                    <div class="input-icon">
                    <input type="text"  class="form-control searchProductPrice"  placeholder="Seach Product"
                    id="searchProductPrice" [(ngModel)]="searchProductPrice" (change)="getProductPriceVal($event)">
                    <span class="input-icon-addon">
                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                      </span>
                    </div>
                </div>

              </div>


        <div class="table-responsive" *ngIf="pageLoaded">
            <table class="table card-table table-vcenter text-nowrap datatable" *ngIf="productPriceList.length != 0">
                
                  <tr style="background-color:#1d4ed8;">
                    <th style="color: #fff;">Sr No</th>
                    <th style="color: #fff;">Product Name</th>
                    <th style="color: #fff;">MRP</th>
                    <th style="color: #fff;">JLG Price</th>
                    <th style="color: #fff;">Purchase Price</th>
                    <th style="color: #fff;">Updated MRP</th>
                    <th style="color: #fff;">Updated Purchase Price</th>
                    <th style="color: #fff;">Regional Name</th>
                    <th style="color: #fff;">Add Price</th>
                  </tr>
                
                <tbody *ngFor="let item of productPriceList| paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: total } ; let i = index ">
                  <tr>
                    <td>{{pageSize*(page-1)+i+1}}</td>
                    <td>
                        <span *ngIf="item.rowEdited" >
                            <input type="text" class="form-control prime-edit-input"  [(ngModel)]="item.productName">
                        </span>
                        <span *ngIf="!item.rowEdited" style="font-family:Tiro Devanagari Marathi;"> {{item.productName}}</span>
                    </td> 
                    <td>
                        <span *ngIf="item.rowEdited">
                        <input type="text" class="form-control prime-edit-input" [(ngModel)]="item.mrp">
                       </span>
                        <span *ngIf="!item.rowEdited" class="number-font">
                            {{item.mrp | currency: 'INR'}}
                        </span>
                    </td>
                  

                    <td>
                        <span *ngIf="item.rowEdited">
                            <input type="text" class="form-control prime-edit-input" [(ngModel)]="item.jlgSalePrice">
                        </span>
                        <span *ngIf="!item.rowEdited" class="number-font">{{item.jlgSalePrice | currency: 'INR'}}
                        </span>
                    </td>

                    <td>
                        <span class="number-font">
                            {{item.purchasePrice | currency: 'INR'}}
                        </span>
                    </td>
                    <td>
                        <span [class.price-alert] = "item.mrpUpdated != 0"  class="number-font">
                            {{item.mrpUpdated | currency: 'INR'}}
                        </span>
                    </td>
                    <td>
                        <span [class.price-alert] = "item.purchasePriceUpdated != 0" class="number-font">
                            {{item.purchasePriceUpdated | currency: 'INR'}}
                        </span>
                    </td>
                    <td>
                        <span *ngIf="item.rowEdited">
                            <input  type="text" class="form-control prime-edit-input" [(ngModel)]="item.reginalName">
                        </span>
                        <span *ngIf="!item.rowEdited">
                            {{item.reginalName}}
                        </span>
                    </td>
                    
                    <td>
                        <span *ngIf="!item.rowEdited" (click)="onRowEditInit(item)">
                            <svg enable-background="new 0 0 19 19" height="19px" id="Layer_1" version="1.1" viewBox="0 0 19 19" width="19px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g><path d="M8.44,7.25C8.348,7.342,8.277,7.447,8.215,7.557L8.174,7.516L8.149,7.69   C8.049,7.925,8.014,8.183,8.042,8.442l-0.399,2.796l2.797-0.399c0.259,0.028,0.517-0.007,0.752-0.107l0.174-0.024l-0.041-0.041   c0.109-0.062,0.215-0.133,0.307-0.225l5.053-5.053l-3.191-3.191L8.44,7.25z" fill="#231F20"/>
                                <path d="M18.183,1.568l-0.87-0.87c-0.641-0.641-1.637-0.684-2.225-0.097l-0.797,0.797l3.191,3.191l0.797-0.798   C18.867,3.205,18.824,2.209,18.183,1.568z" fill="#231F20"/><path d="M15,9.696V17H2V2h8.953l1.523-1.42c0.162-0.161,0.353-0.221,0.555-0.293   c0.043-0.119,0.104-0.18,0.176-0.287H0v19h17V7.928L15,9.696z" fill="#231F20"/>
                            </g></svg>
                        </span>

                        <span *ngIf="item.rowEdited" icon="pi pi-check" (click)="submitNewProductPrice(item)">
                            <svg class="feather feather-save" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"/>
                            <polyline points="17 21 17 13 7 13 7 21"/><polyline points="7 3 7 8 15 8"/>
                            </svg>
                        </span>
                    </td>
                   
                  </tr>        
                </tbody>
                
            </table>
    
                <div class="card-footer d-flex align-items-center" style="background-color: #fff;" *ngIf="productPriceList.length != 0">
                    <div class="col-lg-12 d-flex justify-content-end pagination-custom pt-2">
                        <pagination-controls previousLabel="Prev"nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
                    </div>
                </div>
                <div class="row card mb-3" *ngIf="productPriceList.length == 0">
                <p class="text-center">No Product Price found</p>
                </div>
        </div>
        <div class="container-xl mt-3" *ngIf="!pageLoaded">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
                    &nbsp;
                <h3 class="text-center mr-2">Data loading. Please Hold on!</h3>
            </div>
          </div>
</div>
</div>
</div>
</div>

<!-- add/edit ProductPrice modal -->
<div class="modal fade" id="addeditProductPriceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="addProductPrice && !editProductPrice">Add Product Price</h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="editProductPrice && !addProductPrice">Edit Product Price</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeaddProductPriceBtn  *ngIf="addProductPrice && !editProductPrice">
            <span aria-hidden="true">&times;</span>
          </button>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeeditProductPriceBtn *ngIf="editProductPrice && !addProductPrice">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" *ngIf="addProductPrice && !editProductPrice">
            <form [formGroup]="addProductPriceForm" (ngSubmit)="submitNewProductPrice()">
                <div class="row">
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Product</label>
                    <input type="text" class="form-control" formControlName="productId" name="productId"  
                        [ngClass]="{'is-invalid':(submitted && f['productId'].errors) ||(f['productId'].errors && f['productId'].touched) }">
                        <div *ngIf="(submitted && f['productId'].errors) ||(f['productId'].errors && f['productId'].touched)" class="invalid-feedback">
                            <div *ngIf="f['productId'].errors['required']">
                              Product is required
                            </div>
                     </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Cty</label>
                    <select class="custom-select"  formControlName="cityId" name="cityId" id="cityId"
                    [ngClass]="{'is-invalid':(submitted && f['cityId'].errors) ||(f['cityId'].errors && f['cityId'].touched) }">
                    <option value="" [selected]="''">Choose..</option>
                        <option *ngFor="let item of cityList" [ngValue]="item.cityId">
                            {{item.cityName }}</option>
                      </select>
                        <div *ngIf="(submitted && f['cityId'].errors) ||(f['cityId'].errors && f['cityId'].touched)" class="invalid-feedback">
                            <div *ngIf="f['cityId'].errors['required']">City is required</div> 
                     </div>
                </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="form-control-label">Regional Name</label>
                        <input type="text" class="form-control" formControlName="reginalName" name="reginalName"  
                        [ngClass]="{'is-invalid':(submitted && f['reginalName'].errors) ||(f['reginalName'].errors && f['reginalName'].touched) }">
                            <div *ngIf="(submitted && f['reginalName'].errors) ||(f['reginalName'].errors && f['reginalName'].touched)" class="invalid-feedback">
                                <div *ngIf="f['reginalName'].errors['required']">
                                   Regional Name is required
                                </div>
                         </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form-control-label">MRP</label>
                        <input type="text" class="form-control" formControlName="mrp" name="mrp"  
                        [ngClass]="{'is-invalid':(submitted && f['mrp'].errors) ||(f['mrp'].errors && f['mrp'].touched) }">
                            <div *ngIf="(submitted && f['mrp'].errors) ||(f['mrp'].errors && f['mrp'].touched)" class="invalid-feedback">
                                <div *ngIf="f['mrp'].errors['required']">MRP is required</div> 
                         </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="form-control-label">JLG Sales Price</label>
                        <input type="text" class="form-control" formControlName="jlgSalePrice" name="jlgSalePrice"  
                        [ngClass]="{'is-invalid':(submitted && f['jlgSalePrice'].errors) ||(f['jlgSalePrice'].errors && f['jlgSalePrice'].touched) }">
                            <div *ngIf="(submitted && f['jlgSalePrice'].errors) ||(f['jlgSalePrice'].errors && f['jlgSalePrice'].touched)" class="invalid-feedback">
                                <div *ngIf="f['jlgSalePrice'].errors['required']">
                                    JLG Sales Price is required
                                </div>
                         </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form-control-label">Stock</label>
                        <input type="text" class="form-control" formControlName="stock" name="stock"  
                        [ngClass]="{'is-invalid':(submitted && f['stock'].errors) ||(f['stock'].errors && f['stock'].touched) }">
                            <div *ngIf="(submitted && g['stock'].errors) ||(g['stock'].errors && g['stock'].touched)" class="invalid-feedback">
                                <div *ngIf="g['stock'].errors['required']">Stock is required</div> 
                         </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="isItemAdded">Save</button>
                  </div>
            </form>
        </div>

        <div class="modal-body" *ngIf="editProductPrice && !addProductPrice">
            <form [formGroup]="editProductPriceForm" (ngSubmit)="submitUpdateProductPrice()">

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="form-control-label">Product</label>
                        <input type="text" class="form-control" formControlName="productId" name="productId"  
                            [ngClass]="{'is-invalid':(submitted && g['productId'].errors) ||(g['productId'].errors && g['productId'].touched) }">
                            <div *ngIf="(submitted && g['productId'].errors) ||(g['productId'].errors && g['productId'].touched)" class="invalid-feedback">
                                <div *ngIf="g['productId'].errors['required']">
                                  Product is required
                                </div>
                         </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form-control-label">Cty</label>
                        <select class="custom-select"  formControlName="cityId" name="cityId" id="cityId"
                        [ngClass]="{'is-invalid':(submitted && g['cityId'].errors) ||(g['cityId'].errors && g['cityId'].touched) }">
                        <option value="" [selected]="''">Choose..</option>
                            <option *ngFor="let item of cityList" [ngValue]="item.cityId">
                                {{item.cityName }}</option>
                          </select>
                            <div *ngIf="(submitted && g['cityId'].errors) ||(g['cityId'].errors && g['cityId'].touched)" class="invalid-feedback">
                                <div *ngIf="g['cityId'].errors['required']">City is required</div> 
                         </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">Regional Name</label>
                            <input type="text" class="form-control" formControlName="reginalName" name="reginalName"  
                            [ngClass]="{'is-invalid':(submitted && g['reginalName'].errors) ||(g['reginalName'].errors && g['reginalName'].touched) }">
                                <div *ngIf="(submitted && g['reginalName'].errors) ||(g['reginalName'].errors && g['reginalName'].touched)" class="invalid-feedback">
                                    <div *ngIf="g['reginalName'].errors['required']">
                                       Regional Name is required
                                    </div>
                             </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">MRP</label>
                            <input type="text" class="form-control" formControlName="mrp" name="mrp"  
                            [ngClass]="{'is-invalid':(submitted && g['mrp'].errors) ||(g['mrp'].errors && g['mrp'].touched) }">
                                <div *ngIf="(submitted && g['mrp'].errors) ||(g['mrp'].errors && g['mrp'].touched)" class="invalid-feedback">
                                    <div *ngIf="g['mrp'].errors['required']">MRP is required</div> 
                             </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">JLG Sales Price</label>
                            <input type="text" class="form-control" formControlName="jlgSalePrice" name="jlgSalePrice"  
                            [ngClass]="{'is-invalid':(submitted && g['jlgSalePrice'].errors) ||(g['jlgSalePrice'].errors && g['jlgSalePrice'].touched) }">
                                <div *ngIf="(submitted && g['jlgSalePrice'].errors) ||(g['jlgSalePrice'].errors && g['jlgSalePrice'].touched)" class="invalid-feedback">
                                    <div *ngIf="g['jlgSalePrice'].errors['required']">
                                        JLG Sales Price is required
                                    </div>
                             </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="form-control-label">Stock</label>
                            <input type="text" class="form-control" formControlName="stock" name="stock"  
                            [ngClass]="{'is-invalid':(submitted && g['stock'].errors) ||(g['stock'].errors && g['stock'].touched) }">
                                <div *ngIf="(submitted && g['stock'].errors) ||(g['stock'].errors && g['stock'].touched)" class="invalid-feedback">
                                    <div *ngIf="g['stock'].errors['required']">Stock is required</div> 
                             </div>
                        </div>
                    </div>
               
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="isItemAdded">Save</button>
                  </div>
            </form>
        </div>
       
      </div>
    </div>
</div>


<div class="modal fade" id="deleteProductPriceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
         
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeDeleteProductPriceBtn>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
             <p>Are you sure you want to delete this Product Price?</p>
             <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="deleteProductPrice()" [disabled]="isItemAdded">Yes</button>
              </div>
        </div>
      </div>
    </div>
</div>




