
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="col-lg-10 mb-3 mt-2">
                    <h3 class="card-title">List of Branches</h3>
                </div>
                
                <div class="col-lg-2 mb-3 mt-2">
                    <button class="btn btn-primary btn-pill w-100" data-toggle="modal" data-target="#addeditBranchModal"
                (click)="showaddBranchModal()">Add Branch</button>
                </div>
              </div>
  
            <div class="table-responsive" *ngIf="pageLoaded">
            <table class="table card-table table-vcenter text-nowrap datatable" *ngIf="branchList.length != 0">
               
                  <tr style="background-color:#1d4ed8;">
                    <th scope="col" style="color: #fff;">S No.</th>
                    <th scope="col" style="color: #fff;">Name</th>
                    <th scope="col" style="color: #fff;">Code</th>
                    <th scope="col" style="color: #fff;">City</th>
                    <th scope="col" style="color: #fff;">Address</th>
                    <th scope="col" style="color: #fff;">Manager</th>
                  
                    <th scope="col" style="color: #fff;" *ngIf="showEditBtn">Edit</th>
                    <th scope="col" style="color: #fff;" *ngIf="showDeleteBtn">Delete</th>
                  </tr>
               
                <tbody *ngFor="let item of branchList | paginate: { itemsPerPage: 10, currentPage: p }; let i = index ">
                  <tr>
                    <td>{{10*(p-1)+i+1}}</td>
                    <td>{{item.branchName}}</td> 
                    <td>{{item.branchCode}}</td>
                    <td>{{item.cityName}}</td>
                    <td>{{item.branchAddress}}</td>
                    <td>{{item.fullName}}</td>
                    
                    <td (click)="showeditBranchModal(item)" data-toggle="modal" data-target="#addeditBranchModal" *ngIf="showEditBtn">
                        <svg enable-background="new 0 0 19 19" height="19px" id="Layer_1" version="1.1" viewBox="0 0 19 19" width="19px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g><path d="M8.44,7.25C8.348,7.342,8.277,7.447,8.215,7.557L8.174,7.516L8.149,7.69   C8.049,7.925,8.014,8.183,8.042,8.442l-0.399,2.796l2.797-0.399c0.259,0.028,0.517-0.007,0.752-0.107l0.174-0.024l-0.041-0.041   c0.109-0.062,0.215-0.133,0.307-0.225l5.053-5.053l-3.191-3.191L8.44,7.25z" fill="#231F20"/>
                            <path d="M18.183,1.568l-0.87-0.87c-0.641-0.641-1.637-0.684-2.225-0.097l-0.797,0.797l3.191,3.191l0.797-0.798   C18.867,3.205,18.824,2.209,18.183,1.568z" fill="#231F20"/><path d="M15,9.696V17H2V2h8.953l1.523-1.42c0.162-0.161,0.353-0.221,0.555-0.293   c0.043-0.119,0.104-0.18,0.176-0.287H0v19h17V7.928L15,9.696z" fill="#231F20"/>
                        </g></svg>
                    </td>     
                    <td  (click)="showdeleteBranchModal(item)" data-toggle="modal"  data-target="#deleteBranchModal" *ngIf="showDeleteBtn">
                        <svg enable-background="new 0 0 19 19" height="19px" id="Layer_1" version="1.1" viewBox="0 0 26 29" width="26px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g><path d="M1.035,9l3.49,17.478C4.525,27.854,5.643,29,7.019,29H13h5.981c1.376,0,2.493-1.146,2.493-2.522L24.965,9   H13H1.035z" fill="#231F20"/>
                            <path d="M23.524,3H21V2.824C21,1.264,19.736,0,18.176,0H7.824C6.264,0,5,1.264,5,2.824V3H2.476   C0.946,3,0,3.939,0,5.468V7h7.824h10.352H26V5.468C26,3.939,25.053,3,23.524,3z" fill="#231F20"/>
                        </g></svg>
                    </td> 
                  </tr>        
                </tbody>
                
            </table>
            <div class="card-footer d-flex align-items-center" style="background-color: #fff;"  *ngIf="branchList.length != 0">
                <div class="col-lg-12 d-flex justify-content-end pagination-custom pt-2">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
             </div>
              <div class="row card mb-3" *ngIf="branchList.length == 0">
                <p class="text-center">No Branch found</p>
              </div>
            </div>
            <div class="table-responsive mt-3" *ngIf="!pageLoaded">
              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                      &nbsp;
                  <h3 class="text-center mr-2">Data loading. Please Hold on!</h3>
              </div>
               
            </div>
          </div>
      </div>
      </div>
    </div>
</div>
            
<!-- add/edit Branch modal -->
<div class="modal fade" id="addeditBranchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="addBranch && !editBranch">Add Branch</h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="editBranch && !addBranch">Edit Branch</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeaddBranchBtn  *ngIf="addBranch && !editBranch">
            <span aria-hidden="true">&times;</span>
          </button>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeeditBranchBtn *ngIf="editBranch && !addBranch">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" *ngIf="addBranch && !editBranch">
            <form [formGroup]="addBranchForm" (ngSubmit)="submitNewBranch()">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="form-control-label">Name</label>
                        <input type="text" class="form-control" formControlName="branchName" name="branchName"  
                        [ngClass]="{'is-invalid':(submitted && f['branchName'].errors) ||(f['branchName'].errors && f['branchName'].touched) }">
                            <div *ngIf="(submitted && f['branchName'].errors) ||(f['branchName'].errors && f['branchName'].touched)" class="invalid-feedback">
                                <div *ngIf="f['branchName'].errors['required']">
                                    Name is required
                                </div>
                         </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form-control-label">Code</label>
                        <input type="text" class="form-control" formControlName="branchCode" name="branchCode"  
                        [ngClass]="{'is-invalid':(submitted && f['branchCode'].errors) ||(f['branchCode'].errors && f['branchCode'].touched) }">
                            <div *ngIf="(submitted && f['branchCode'].errors) ||(f['branchCode'].errors && f['branchCode'].touched)" class="invalid-feedback">
                                <div *ngIf="f['branchCode'].errors['required']">Code is required</div> 
                         </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="form-control-label">City</label>
                        <select class="custom-select"  formControlName="cityId" name="cityId" id="cityId"
                        [ngClass]="{'is-invalid':(submitted && f['cityId'].errors) ||(f['cityId'].errors && f['cityId'].touched) }">
                        <option value="" [selected]="''">Choose..</option>
                            <option *ngFor="let item of cityList" [ngValue]="item.cityId">
                                {{item.cityName }}</option>
                          </select>
                            <div *ngIf="(submitted && f['cityId'].errors) ||(f['cityId'].errors && f['cityId'].touched)" class="invalid-feedback">
                                <div *ngIf="f['cityId'].errors['required']">City is required</div> 
                         </div>
                    </div>
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Address</label>
                    <input type="text" class="form-control" formControlName="branchAddress" name="branchAddress"  
                    [ngClass]="{'is-invalid':(submitted && f['branchAddress'].errors) ||(f['branchAddress'].errors && f['branchAddress'].touched) }">
                        <div *ngIf="(submitted && f['branchAddress'].errors) ||(f['branchAddress'].errors && f['branchAddress'].touched)" class="invalid-feedback">
                            <div *ngIf="f['branchAddress'].errors['required']">Address is required</div> 
                     </div>
                </div>
                </div>
               
                <div class="row">
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Manager</label>
                    <select class="custom-select"  formControlName="managerId" name="managerId" id="managerId"
                    [ngClass]="{'is-invalid':(submitted && f['managerId'].errors) ||(f['managerId'].errors && f['managerId'].touched) }">
                    <option value="" [selected]="''">Choose..</option>
                        <option *ngFor="let item of managerList" [ngValue]="item.userId">
                            {{item.fullName }}</option>
                        
                      </select>
                        <div *ngIf="(submitted && f['managerId'].errors) ||(f['managerId'].errors && f['managerId'].touched)" class="invalid-feedback">
                            <div *ngIf="f['managerId'].errors['required']">Manager is required</div> 
                     </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Status</label><br/>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label p-0 mt-3" for="active">
                        <input class="form-check-input" type="radio" formControlName="isActive" name="isActive" id="status" value="true"
                        [ngClass]="{'is-invalid':(submitted && f['isActive'].errors) ||(f['isActive'].errors && f['isActive'].touched) }">Active
                        </label>
                        </div>
                        <div class="form-check form-check-inline">
                        <label class="form-check-label p-0 mt-3" for="inactive">
                        <input class="form-check-input" type="radio" formControlName="isActive" name="isActive" id="status" value="false"
                        [ngClass]="{'is-invalid':(submitted && f['isActive'].errors) ||(f['isActive'].errors && f['isActive'].touched) }">Inactive
                        </label>
                        </div>
                        <div *ngIf="(submitted && f['isActive'].errors) ||(f['isActive'].errors && f['isActive'].touched)" class="invalid-feedback">
                            <div *ngIf="f['isActive'].errors['required']">Status is required</div> 
                        </div>
                </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="isItemAdded">Save</button>
                  </div>
            </form>
        </div>

        <div class="modal-body" *ngIf="editBranch && !addBranch">
            <form [formGroup]="editBranchForm" (ngSubmit)="submitUpdateBranch()">
                <div class="row">
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Name</label>
                    <input type="text" class="form-control" formControlName="branchName" name="branchName"  
                    [ngClass]="{'is-invalid':(submitted && g['branchName'].errors) ||(g['branchName'].errors && g['branchName'].touched) }">
                        <div *ngIf="(submitted && g['branchName'].errors) ||(g['branchName'].errors && g['branchName'].touched)" class="invalid-feedback">
                            <div *ngIf="g['branchName'].errors['required']">
                                Name is required
                            </div>
                     </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Code</label>
                    <input type="text" class="form-control" formControlName="branchCode" name="branchCode"  
                    [ngClass]="{'is-invalid':(submitted && g['branchCode'].errors) ||(g['branchCode'].errors && g['branchCode'].touched) }">
                        <div *ngIf="(submitted && g['branchCode'].errors) ||(g['branchCode'].errors && g['branchCode'].touched)" class="invalid-feedback">
                            <div *ngIf="g['branchCode'].errors['required']">Code is required</div> 
                     </div>
                </div>
                </div>
                <div class="row">
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Cty</label>
                    <select class="custom-select"  formControlName="cityId" name="cityId" id="cityId"
                    [ngClass]="{'is-invalid':(submitted && g['cityId'].errors) ||(g['cityId'].errors && g['cityId'].touched) }">
                    <option value="" [selected]="''">Choose..</option>
                        <option *ngFor="let item of cityList" [ngValue]="item.cityId">
                            {{item.cityName }}</option>
                      </select>
                        <div *ngIf="(submitted && g['cityId'].errors) ||(g['cityId'].errors && g['cityId'].touched)" class="invalid-feedback">
                            <div *ngIf="g['cityId'].errors['required']">City is required</div> 
                     </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Address</label>
                    <input type="text" class="form-control" formControlName="branchAddress" name="branchAddress"  
                    [ngClass]="{'is-invalid':(submitted && g['branchAddress'].errors) ||(g['branchAddress'].errors && g['branchAddress'].touched) }">
                        <div *ngIf="(submitted && g['branchAddress'].errors) ||(g['branchAddress'].errors && g['branchAddress'].touched)" class="invalid-feedback">
                            <div *ngIf="g['branchAddress'].errors['required']">Address is required</div> 
                     </div>
                </div>
                </div>
                 <div class="row">
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Manager</label>
                    <select class="custom-select"  formControlName="managerId" name="managerId" id="managerId"
                    [ngClass]="{'is-invalid':(submitted && f['managerId'].errors) ||(f['managerId'].errors && f['managerId'].touched) }">
                    <option value="" [selected]="''">Choose..</option>
                        <option *ngFor="let item of managerList" [ngValue]="item.userId">
                            {{item.fullName }}</option>
                      </select>
                    <div *ngIf="(submitted && g['managerId'].errors) ||(g['managerId'].errors && g['managerId'].touched)" class="invalid-feedback">
                        <div *ngIf="g['managerId'].errors['required']">Manager is required</div> 
                     </div>
                </div>
                
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Status</label><br/>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label p-0" for="active">
                    <input class="form-check-input" type="radio" formControlName="isActive" name="isActive" id="status" value="true"
                    [ngClass]="{'is-invalid':(submitted && g['isActive'].errors) ||(g['isActive'].errors && g['isActive'].touched) }">Active
                    </label>
                    </div>
                    <div class="form-check form-check-inline">
                    <label class="form-check-label p-0" for="inactive">
                    <input class="form-check-input" type="radio" formControlName="isActive" name="isActive" id="status" value="false"
                    [ngClass]="{'is-invalid':(submitted && g['isActive'].errors) ||(g['isActive'].errors && g['isActive'].touched) }">Inactive
                    </label>
                    </div>
                    <div *ngIf="(submitted && g['isActive'].errors) ||(g['isActive'].errors && g['isActive'].touched)" class="invalid-feedback">
                        <div *ngIf="g['isActive'].errors['required']">Status is required</div> 
                    </div>
                </div>
                </div>
               
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="isItemAdded">Save</button>
                  </div>
            </form>
        </div>
       
      </div>
    </div>
</div>


<div class="modal fade" id="deleteBranchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
         
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeDeleteBranchBtn>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
             <p>Are you sure you want to delete this branch?</p>
             <div class="modal-footer">
                <button type="submit" class="btn btn-primary" 
                (click)="deleteBranch()" [disabled]="isItemAdded">Yes</button>
              </div>
        </div>
      </div>
    </div>
</div>





