<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="col-lg-10 mb-3 mt-2">
                    <h3 class="card-title">List of Completed Orders</h3>
                </div>
              </div>
              <div class="table-responsive" *ngIf="pageLoaded">
                <table class="table card-table table-vcenter text-nowrap datatable" style="border-color: #fff;" *ngIf="completedList.length != 0">
                      <tr style="background-color:#1d4ed8;">
                        <th scope="col" style="color: #fff;">S No.</th>
                        <th scope="col" style="color: #fff;">Name</th>
                        <th scope="col" style="color: #fff;">Center</th>
                        <th scope="col" style="color: #fff;">Order No</th>
                        <th scope="col" style="color: #fff;">Order Date</th>
                        <th scope="col" style="color: #fff;">Taken By</th> 
                        <th scope="col" style="color: #fff;">Total Bill</th>
                      </tr>          
                <tbody *ngFor="let item of completedList| paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: total } ; let i = index ">
                  <tr>
                    <td>{{pageSize*(page-1)+i+1}}</td>
                    <td>{{item.memberName}}</td> 
                    <td>{{item.centerName}}</td>
                    <td>{{item.orderId}}</td>
                    <td>{{item.orderDate | date:'dd-MM-YYYY'}}</td>
                    <td>{{item.orderTakenBy}}</td>
                    <td>{{item.totalBillAmt}}</td>
                                       
                  </tr>        
                </tbody>
                
               </table>
               <div class="card-footer d-flex align-items-center" style="background-color: #fff;" *ngIf="completedList.length != 0">
                <div class="col-lg-12 d-flex justify-content-end pagination-custom pt-2">
                    <pagination-controls previousLabel="Prev"nextLabel="Next" [responsive]="true"
                    (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
              </div>
              <div class="row card mb-3" *ngIf="completedList.length == 0">
                <p class="text-center">No Order found</p>
              </div>
              </div>
              <div class="container-xl mt-3" *ngIf="!pageLoaded">
                <div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                        &nbsp;
                    <h3 class="text-center mr-2">Data loading. Please Hold on!</h3>
                </div>
              </div>
      </div>
    </div>
</div>
</div>
</div>

