<footer class="footer footer-transparent d-print-none" style="padding-top: -70px important;">
  <div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
      <div class="col-lg-auto ms-lg-auto"></div>
      <div class="col-12">
        <div class="card card-md">
          <div class="card-stamp card-stamp-lg"></div>
          <div class="card-body row">
            
                <div class="col-lg-6">
                  Copyright &copy; 2023
                  <a href="." class="link-primary">Aarambh Sadan Bazaar PVT, LTD</a>.
                  All rights reserved.
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                  Developed by : 
                  <a href="https://www.cognisiveit.in" class="link-primary">
                    Cognisive IT Solution
                  </a>
                </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</footer>