.navbar-transparent{
    background-color:  #6076ad !important;
}

.ml-2{
    margin-right: 10px;
    margin-top: 10px;
}
.nav-item{
    color : white !important;
}

.text-white{
    font-size :18px !important;
}