/* You can add global styles to this file, and also import other style files */
.bg-light{
    background: #448aff !important;
    color:#000;
}

.btn-primary{
    background-color: #448aff !important;
    border-color:  #448aff !important;
}