.table-card{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px 5px;
    background-color: white;
}

table tbody tr td{
    width: 20%;
    text-align: center;
}

table thead tr th{
    width: 20%;
    text-align: center;
}

.ngx-pagination{
    text-align: center;
   }


