<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="container d-block">
                    <div class="mt-3 mb-3 row">
                        <div class="col-lg-10 col-sm-6 mb-3 mt-2">
                            <h3 class="card-title" >Installment Payment Collections</h3>
                        </div>
                        
                    </div>
                    <div class="mt-3 mb-3 row">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="searchCenter">Select Center<span style="color: crimson; font-weight: bold; font-size: large;"> *</span></label>
                              <select class="custom-select" id="searchCenter" [(ngModel)]="searchCenter" (change)="getCenterVal(searchCenter)">
                                <option value="" [selected]="''">Choose Center..</option>
                                <option *ngFor="let item of centerDropdownList" [ngValue]="item.centerId">
                                    {{item.centerName}}</option>
                                </select>
                            </div>
                       
                          <div class="form-group col-md-4">
                            <label for="searchMember">Select Date<span style="color: crimson; font-weight: bold; font-size: large;"> *</span></label>
                            <input type="date" class="form-control" [(ngModel)]="installmentDate" 
                            (change)="getinstallmentDate(installmentDate)" placeholder="Search Installment Date">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="searchMember">Select Member</label>
                            <select class="custom-select" id="searchMember" [(ngModel)]="searchMember" (change)="getMemberVal(searchMember)">
                              <option value="" [selected]="''">Choose Member..</option>
                              <option *ngFor="let item of memberDropdownList" [ngValue]="item.memberId">
                                  {{item.fullName}}
                              </option>
                              </select>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-2">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox"
                              name="selectall" [checked]="masterSelected"  (change)="checkUncheckAll($event)">
                              <label class="form-check-label" for="selectAll">
                               Select All
                              </label>     
                          </div>
                        </div>
                          <div class="form-group col-md-1" *ngFor="let item of filterList; let i = index;">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox"
                              name="item{{item.id}}" [(ngModel)]="filterList[i].checked"  (change)="sendCheckedCollection()">
                              <label class="form-check-label" for="item{{item.id}}">
                               {{item.name}}
                              </label>     
                          </div>
                        </div>
                      </div>
                     
                </div>
                  </div>
                </div>
                <span *ngIf="noFilterApplied">
                <div class="table-responsive" *ngIf="installmentCollectionList.length != 0">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                        
                          <tr style="background-color:#1d4ed8;">
                            <th scope="col" style="color: #fff;">S No.</th>
                            <th scope="col" style="color: #fff;">Name</th>
                            <th scope="col" style="color: #fff;">Order No</th>
                            <th scope="col" style="color: #fff;">Inst. No</th>
                            <th scope="col" style="color: #fff;">Inst. Date</th>
                            <th scope="col" style="color: #fff;">Installment Amount</th>
                            <th scope="col" style="color: #fff;">Payable Amount</th>
                            <th scope="col" style="color: #fff;">Address</th>
                            <th scope="col" style="color: #fff;">Status</th>
                            <th scope="col" style="color: #fff;">Take Payment</th>
                            
                          </tr>
                        
                     
                        <tbody *ngFor="let item of installmentCollectionList| paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: total } ; let i = index ">
                          <tr>
                            <td>{{pageSize*(page-1)+i+1}}</td>
                            <td>{{item.fullName}}</td> 
                            <td>{{item.orderId}}</td>
                            <td>{{item.installmentNo}}</td>
                            <td>{{item.installmentDate}}</td>
                            <td>{{item.installmentAmt}}</td>
                            <td>{{item.payableAmt}}</td>
                            <td>{{item.address | truncate:08}}</td>
                            <td [ngClass]="{'data-blue' :item.status == 'Future','data-green' : item.status == 'Todays','data-red' : item.status == 'Pending' }">{{item.status}}</td>
                            <td (click)="showeditCollectionModal(item)" data-toggle="modal" data-target="#addeditProductBrandModal" [hidden]="item.status == 'Future'" >
                              <svg enable-background="new 0 0 19 19" height="19px" id="Layer_1" version="1.1" viewBox="0 0 19 19" width="19px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <g><path d="M8.44,7.25C8.348,7.342,8.277,7.447,8.215,7.557L8.174,7.516L8.149,7.69   C8.049,7.925,8.014,8.183,8.042,8.442l-0.399,2.796l2.797-0.399c0.259,0.028,0.517-0.007,0.752-0.107l0.174-0.024l-0.041-0.041   c0.109-0.062,0.215-0.133,0.307-0.225l5.053-5.053l-3.191-3.191L8.44,7.25z" fill="#231F20"/>
                                  <path d="M18.183,1.568l-0.87-0.87c-0.641-0.641-1.637-0.684-2.225-0.097l-0.797,0.797l3.191,3.191l0.797-0.798   C18.867,3.205,18.824,2.209,18.183,1.568z" fill="#231F20"/><path d="M15,9.696V17H2V2h8.953l1.523-1.42c0.162-0.161,0.353-0.221,0.555-0.293   c0.043-0.119,0.104-0.18,0.176-0.287H0v19h17V7.928L15,9.696z" fill="#231F20"/>
                              </g></svg>
                          </td>  
            
                          </tr>        
                        </tbody>
                        
                    </table>
                    <div class="row mt-3">
                      <h2 class="text-center">Total Collectable Amount: {{collectableAmount | currency:'INR'}} </h2>
                  </div>
        
                </div>
                <div class="row mt-3" *ngIf="installmentCollectionList.length == 0">
                    <p class="text-center">No Installment Collection found</p>
                </div>
                <div class="card-footer d-flex align-items-center" style="background-color: #fff;">
                  <div class="col-lg-12 d-flex justify-content-end pagination-custom pt-2" *ngIf="installmentCollectionList.length != 0">
                      <pagination-controls previousLabel="Prev"nextLabel="Next" [responsive]="true"
                      (pageChange)="handlePageChange($event)"></pagination-controls>
                  </div>
                </div>
              </span>
              <!-- filtered data -->
              <span *ngIf="!noFilterApplied">
                <div class="table-responsive" *ngIf="filteredData.length !== 0">
                    <table class="table card-table table-vcenter text-nowrap datatable">                  
                          <tr style="background-color:#1d4ed8;">
                            <th scope="col" style="color: #fff;">S No.</th>
                            <th scope="col" style="color: #fff;">Name</th>
                            <th scope="col" style="color: #fff;">Order No</th>
                            <th scope="col" style="color: #fff;">Installment No</th>
                            <th scope="col" style="color: #fff;">Installment Date</th>
                            <th scope="col" style="color: #fff;">Installment Amount</th>
                            <th scope="col" style="color: #fff;">Payable Amount</th>
                            <th scope="col" style="color: #fff;">Address</th>
                            <th scope="col" style="color: #fff;">Status</th>
                            <th scope="col" style="color: #fff;">Take Payment</th>
                          </tr>
                        <tbody *ngFor="let item of filteredData| paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: total } ; let i = index ">
                          <tr *ngIf="item.orderInstallmentId">
                            <td>{{pageSize*(page-1)+i+1}}</td>
                            <td>{{item.fullName}}</td> 
                            <td>{{item.orderId}}</td>
                            <td>{{item.installmentNo}}</td>
                            <td>{{item.installmentDate}}</td>
                            <td>{{item.installmentAmt}}</td>
                            <td>{{item.payableAmt}}</td>
                            <td>{{item.address | truncate:08}}</td>
                            <td [ngClass]="{'data-blue' :item.status == 'Future','data-green' : item.status == 'Todays','data-red' : item.status == 'Pending' }">{{item.status}}</td>
                            <td (click)="showeditCollectionModal(item)" data-toggle="modal" data-target="#addeditProductBrandModal">
                              <svg enable-background="new 0 0 19 19" height="19px" id="Layer_1" version="1.1" viewBox="0 0 19 19" width="19px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <g><path d="M8.44,7.25C8.348,7.342,8.277,7.447,8.215,7.557L8.174,7.516L8.149,7.69   C8.049,7.925,8.014,8.183,8.042,8.442l-0.399,2.796l2.797-0.399c0.259,0.028,0.517-0.007,0.752-0.107l0.174-0.024l-0.041-0.041   c0.109-0.062,0.215-0.133,0.307-0.225l5.053-5.053l-3.191-3.191L8.44,7.25z" fill="#231F20"/>
                                  <path d="M18.183,1.568l-0.87-0.87c-0.641-0.641-1.637-0.684-2.225-0.097l-0.797,0.797l3.191,3.191l0.797-0.798   C18.867,3.205,18.824,2.209,18.183,1.568z" fill="#231F20"/><path d="M15,9.696V17H2V2h8.953l1.523-1.42c0.162-0.161,0.353-0.221,0.555-0.293   c0.043-0.119,0.104-0.18,0.176-0.287H0v19h17V7.928L15,9.696z" fill="#231F20"/>
                              </g></svg>
                          </td>  
            
                          </tr>        
                        </tbody>
                        
                    </table>
                    <div class="row mt-3">
                      <h2 class="text-center">Total Collectable Amount: {{collectableAmount | currency:'INR'}} </h2>
                  </div>
        
                </div>
                <div class="row mt-3" *ngIf="filteredData.length == 0">
                    <p class="text-center">No Installment Collection found</p>
                </div>
                <div class="card-footer d-flex align-items-center" style="background-color: #fff;">
                  <div class="col-lg-12 d-flex justify-content-end pagination-custom pt-2" *ngIf="filteredData.length != 0">
                      <pagination-controls previousLabel="Prev"nextLabel="Next" [responsive]="true"
                      (pageChange)="handlePageChange($event)"></pagination-controls>
                  </div>
                </div>
              </span>

        
    </div>
</div>
</div>
</div>
</div>

<!-- add/edit ProductBrand modal -->
<div class="modal fade" id="addeditProductBrandModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">Take Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closededitCollectionBtn>
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body scrollable-modal">
          <form [formGroup]="updatePaymentForm">
              <div class="form-row">
              <div class="form-group col-lg-6">
                  <label class="form-control-label">Member Name</label>
                  <input type="text" class="form-control" formControlName="memberName" name="memberName" readonly>  
              </div>

              <div class="form-group col-lg-6">
                  <label class="form-control-label">Installment No</label>
                  <input type="text" class="form-control" formControlName="installmentNo" name="installmentNo"  readonly>    
              </div>
            </div>

             <div class="form-row">
              <div class="form-group col-lg-6">
                <label class="form-control-label">Order No</label>
                <input type="text" class="form-control" formControlName="orderId" name="orderId" readonly>     
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label">Payment Date</label>
              <input type="date" class="form-control" formControlName="paidDate" name="paidDate" 
              [ngClass]="{'is-invalid':(submitted && g['paidDate'].errors) ||(g['paidDate'].errors && g['paidDate'].touched) }">  
              <div *ngIf="(submitted && g['paidDate'].errors) ||(g['paidDate'].errors && g['paidDate'].touched)" class="invalid-feedback">
                <div *ngIf="g['paidDate'].errors['required']">
                    Payment Date is required
                </div>
              </div>    
           </div>
             </div>
             
              <div class="form-row">

                <div class="form-group col-lg-6">
                  <label class="form-control-label">Payment Amount - <span class="file-format">Rs. {{selectedPayment?.payableAmt}}</span></label>
                  <input type="text" class="form-control" placeholder="Payment Amount" formControlName="payingAmt" name="payingAmt" 
                  [ngClass]="{'is-invalid':(submitted && g['payingAmt'].errors) ||(g['payingAmt'].errors && g['payingAmt'].touched) }">  
                  <div *ngIf="(submitted && g['payingAmt'].errors) ||(g['payingAmt'].errors && g['payingAmt'].touched)" class="invalid-feedback">
                    <div *ngIf="g['payingAmt'].errors['required']">
                        Payment Amount is required
                    </div>
                  </div>  
              </div>
              
              <div class="form-group col-lg-6">
                  <label class="form-control-label">Payment Mode</label>
                  <select class="custom-select" id="paymentMode" formControlName="paymentMode" name="paymentMode"
                  [ngClass]="{'is-invalid':(submitted && g['paymentMode'].errors) ||(g['paymentMode'].errors && g['paymentMode'].touched) }">
                    <option value="" [selected]="''">Choose Payment Mode..</option>
                    <option *ngFor="let item of paymentModeList" [ngValue]="item.name">
                        {{item.name}}</option>
                    </select> 
                  <div *ngIf="(submitted && g['paymentMode'].errors) ||(g['paymentMode'].errors && g['paymentMode'].touched)" class="invalid-feedback">
                    <div *ngIf="g['paymentMode'].errors['required']">
                        Payment Mode is required
                    </div>
               </div>   
              </div>
              <div class="form-group col-lg-6">
                <label class="form-control-label">Payment Comment</label>
                <input type="text" class="form-control" placeholder="Payment Comment" formControlName="paymentComment" name="paymentComment"
                [ngClass]="{'is-invalid':(submitted && g['paymentComment'].errors) ||(g['paymentComment'].errors && g['paymentComment'].touched) }">  
                <div *ngIf="(submitted && g['paymentComment'].errors) ||(g['paymentComment'].errors && g['paymentComment'].touched)" class="invalid-feedback">
                  <div *ngIf="g['paymentComment'].errors['required']">
                      Payment Comment is required
                  </div>
             </div>   
              </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" (click)="showPayentModal()">Submit Payment</button>
                   <button type="submit" class="btn btn-primary" #openPaymentModal 
                   data-toggle="modal" data-target="#paymentModal" [hidden]="true"></button>
              </div>
          </form>

          <div class="wrapper" *ngIf="pageLoaded">
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable"  *ngIf="installmentCollectionHistoryList.length != 0">
                
                  <tr style="background-color:#1d4ed8;">
                    <th scope="col" style="color: #fff;">S No.</th>
                    <th scope="col" style="color: #fff;">Name</th>
                    <th scope="col" style="color: #fff;">Order No</th>
                    <th scope="col" style="color: #fff;">Inst. No</th>
                    <th scope="col" style="color: #fff;">Inst. Date</th>
                    <th scope="col" style="color: #fff;">Installment Amount</th>
                    <th scope="col" style="color: #fff;">Paid Amount</th>
                    <th scope="col" style="color: #fff;">Status</th>                   
                  </tr>
                
             
                <tbody *ngFor="let item of installmentCollectionHistoryList| paginate: { itemsPerPage: pageSize, currentPage: page} ; let i = index ">
                  <tr>
                    <td>{{pageSize*(page-1)+i+1}}</td>
                    <td>{{item.fullName}}</td> 
                    <td>{{item.orderId}}</td>
                    <td>{{item.installmentNo}}</td>
                    <td>{{item.installmentDate | date:"dd-MM-YYYY"}}</td>
                    <td>Rs. {{item.installmentAmt}}</td>
                    <td>{{item.paidAmt}}</td>
                    <td>{{item.status}}</td>   
                  </tr>        
                </tbody>
                
            </table>
            <div class="mt-3" *ngIf="installmentCollectionList.length == 0">
              <p class="text-center">No Installment Collection found</p>
            </div>
          <div class="card-footer d-flex align-items-center" style="background-color: #fff;">
            <div class="col-lg-12 d-flex justify-content-end pagination-custom pt-2" *ngIf="installmentCollectionHistoryList.length != 0">
                <pagination-controls previousLabel="Prev"nextLabel="Next" [responsive]="true"
                (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>

          </div>
      
          </div>
          <div class="table-responsive mt-3" *ngIf="!pageLoaded">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
                    &nbsp;
                <h3 class="text-center mr-2">Data loading. Please Hold on!</h3>
            </div>
          </div>


      </div>
     
    </div>
  </div>
</div>

<!-- update payment modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">Confirm Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closePaymentBtn>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body">
         <div class="card-body">
            <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <div class="icon"> 
                    <i class="bx bxl-mailchimp"></i> 
                  </div>
                        <div class="ms-2 c-details">
                             <div class="row d-flex">
                                <div class="card-title col-lg-6">Member Name :</div>
                                <div class="col-lg-6">{{paymentDetails.memberName}}</div>
                                <div class="card-title col-lg-6">Payment Date:</div>
                                <div class="col-lg-6">{{paymentDetails.paidDate| date : "dd-MM-YYYY"}}</div>
                                <div class="card-title col-lg-6">Amount Payment:</div>
                                <div class="col-lg-6">{{paymentDetails.payingAmt}}</div>
                                <div class="card-title col-lg-6">Payment Mode :</div>
                                <div class="col-lg-6">{{paymentDetails.paymentMode}}</div>
                             </div>
                        </div>
                </div>  
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-danger" (click)="cancelPayment()" >No</button>
                  <button type="submit" class="btn btn-primary" (click)="submitUpdatePayment()" 
                  [disabled]="isItemAdded">Confirm Pay</button>
              </div>
            </div> 
        </div>
     
    </div>
  </div>
</div>
